<form action="/submittodoitem" method="POST">

    <input type="text" name="itemName" placeholder="Item Name">

    <input type="text" name="itemID" placeholder="Item ID">

    <input type="text" name="itemUUID" placeholder="Item UUID">

    <input type="text" name="itemHash" placeholder="Item Hash">

    <textarea name="itemDescription" placeholder="Item Description"></textarea>

    <textarea name="itemDueDate" placeholder="Item Due Date"></textarea>

    <textarea name="itemPriority" placeholder="Item Priority"></textarea>

    <textarea name="itemStatus" placeholder="Item Status"></textarea>

    <button type="submit">Submit</button>

</form>